.main-chat
  .main-chat__messages-info
    .main-chat__messages-info__left-box
      .main-chat__messages-info__left-box__current-group 
        = @group.name
      %ul.main-chat__messages-info__left-box__current-group__member-list 
        member :&nbsp;
        - @group.users.each do |user|
          = user.name
        %li.main-chat__messages-info__left-box__member-list__menber 
    .main-chat__messages-info__edt-btn
      = link_to "Edit",edit_group_path(@group), class:"edit-btn"


  .main-chat__messages-list
    = render @messages



  .main-chat__messages-from
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main-chat__messages-from__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'sumbit-btn'

        
